body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #5b86e5;
}

span {
  color: #a1a1a1;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0 calc(0.625px * 14) calc(3.5px * 14) 0 rgba(198, 203, 222, 0.15);
  padding: 10px 20px;
}

nav li {
  margin: 0;
}

footer {
  color: #a1a1a1;
  padding: 20px;
  text-align: center;
}

strong {
  color: black;
}

input {
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f3f5f7;
}

input::placeholder {
  color: #a1a1a1;
}

.container {
  width: 80vw;
  margin: auto;
}

.gray-card {
  background-color: #f3f5f7;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: min-content;
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
}

.grid-4 {
  max-width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.coin-logo {
  border-radius: 25px;
  border: 1px solid #a1a1a1;
}

.card {
  box-shadow: 0 calc(0.625px * 14) calc(3.5px * 14) 0 rgba(198, 203, 222, 0.45);
  background-color: white;
  padding: 20px;
  height: min-content;
}

.card:hover {
  box-shadow: 0 calc(0.625px * 14) calc(3.5px * 14) 0 rgba(198, 203, 222, 0.65);
}

.gray-pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  color: #a1a1a1;
  background-color: #f3f5f7;
  margin: 0 10px 10px 0;
}

.property {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
